@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

body {
    font-family: interstate, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.section_1 p {
font: 16px "interstate";
line-height: 1.5;
margin-bottom: 20px;
}

.left_1 {
    width: 100%;
}

.right_1 {
    width: 100%;
}

.title_and_text {
    margin-top: 20px;
}

.designer_site {
    display: none;
}

.designer_mobile {
    width: 100%;
}

.drawing {
    width: 100%;
    height: 45%;
}

.plant {
    width: 100%;
}

.paragraph {
    color: #323439;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 30px;

}

.paragraph_quality {
    color: #323439;
    line-height: 1.5;
    font-size: 15px;
}

.body_positive {
    width: 100%;
    margin-bottom: 30px;
}

.values_title {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font: 20px "lemonmilk";
}

.values_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
}

.value {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #CDC9C8;
    padding: 25px;
}

.value_name {
    font: 17px interstate;
    font-weight: 600;
}

.value_text {
    line-height: 1.5;
    font-size: 15px;
    margin-top: 10px;
}

.section_3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.section_3 p {
    font: 16px "interstate";
    line-height: 1.5;
    margin-bottom: 20px;
}

.learn-btn {
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    font-family: interstate;
  }

.learn-btn::after {
    content: "";
    width: 82px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: -2px;
    left: 0;
  }

.section-h2 {
  margin: 15px;
  font: 18px "lemonmilk";
  position: relative;
}

.section-h2::before {
    content: "";
    position: absolute;
    height: 85%;
    width: 5px;
    background-color: #CDC9C8;
    bottom: 2px;
    left: -13px;
}


.stronger_together_pic_mobile {
    width: 100%;
}

.stronger_together_pic_site {
    display: none;
}

.voice_container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

}

.voice_section_container {
    width: 100%;
}

.voice_section_container p {
    font: 16px "interstate";
    line-height: 1.5;
    margin-bottom: 20px;
}

.voiceimg_container {
    width: 100%;
}

.openpdf a {
    color: white;
    font: 15px "interstate";
    font-weight: 500;
    background-color: #323439;
    padding: 15px;
    width: 90%;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    display: block;
}




.about_img_mobile {
    width: 100%;
    height: 250px;
    margin: auto;
    object-fit: cover;
    object-position: top;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
}

.voice_img {
    display: none;
}

.voice_img_mobile {
    margin-top: 90px;
}

.body_positive {
    display: none;
}

.drawing {
    display: none;
}





@media (min-width: 990px) {

main {

    width: 60%;
    margin: auto;
}

.section_1 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.left_1 {
    width: 46%;
}

.right_1 {
    width: 46%;
}



.designer_site {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.about_img_mobile {
    display: none;
}

.title_and_text {
    margin-top: 20px;
}

.our-idea {
    margin-top: 50px;
}

.drawing {
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;
    margin-top: 50px;
}

.plant {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-top: -80px;
}

.section_1 p {
    font: 16px "interstate";
    line-height: 1.5;
    margin-bottom: 20px;
}

.paragraph_quality {
    font-size: 16px;
}

.body_positive {
    width: 100%;
    object-fit: cover;
    height: 400px;
    display: block;
    margin-top: 50px;
}

.values_title {
    text-align: center;
    font: 22px "lemonmilk";
    margin-top: 40px;
}

.values_container {
    margin-top: 30px;
    margin-bottom: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value {
    width: 30%;
    height: 250px;
    border: 1px solid #CDC9C8;
    padding: 20px 25px;
}

.value_name {
    font: 18px interstate;
    font-weight: 600;
}

.value_text {
    line-height: 1.5;
    font-size: 16px;
    margin-top: 10px;
}

.section_3 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}

.section_3 p {
    font: 16px "interstate";
    line-height: 1.5;
    margin-bottom: 20px;
}

.learn-btn {
    margin-top: 20px;
    font-weight: 500;
    position: relative;
  }

.learn-btn::after {
    content: "";
    width: 82px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: -2px;
    left: 0;
    transition: background-color .3s ease;
  }

  .learn-btn:hover::after {
      background-color: #323439 ;
  }

.section-h2 {
  margin: 10px 0 10px 10px;
    font: 18px "lemonmilk";
}

.stronger {
    margin-top: 60px;
}

.stronger_together_pic_site {
    width: 100%;
    display: block;
    margin-top: 50px;
}

.stronger_together_pic_mobile {
    display: none;
}

.title_and_text_equality {
    margin-top: 50px;
}

.some {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.some-icon {
  height: 35px;
  width: 35px;
  margin: 20px 10px;
}

.voice_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.voice_section_container {
    width: 46%;
}

.voice_section_container p {
    font: 16px "interstate";
    line-height: 1.5;
    margin-bottom: 20px;
}

.voiceimg_container {
    width: 46%;
}

.voice_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.openpdf a {
    color: white;
    font: 15px "interstate";
    font-weight: 500;
    background-color: #323439;
    padding: 15px;
    width: 20%;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    display: block;
    transition: background-color .3s ease;
}

.openpdf a:hover {
    background-color: #CDC9C8;
}
}
















































