@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

body {
    font-family: interstate, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket_container {
    width: 90%;
    background-color: #CDC9C8;
    height: 650px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    justify-content: center;
}

.steps {
    margin: auto;
}

.checkout_steps {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-left: 10%;
}

.bag_and_total {
    display: flex;
    flex-direction: row;
}

.basket {
    height: 480px;
    background-color: white;
    width: 750px;
    margin-top: 2%;
    margin-left: 10%;
    box-shadow: 10px 10px 8px 0px #888888;
}

.total_amount {
    height: 480px;
    background-color: white;
    margin-top: 2%;
    width: 400px;
    margin-left: 3%;
    box-shadow: 10px 10px 8px 0px #888888;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.basket_title {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.ordered_picture {
    width: 32%;
}

.order_info {
    width: 35%;
    margin-left: -40px;
}

.product_name {
    font-family: interstate, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.product_info {
    font-family: interstate, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.ordered_pic {
    width: 100%;
}

.choose_amount {
    height: 40px;
    border-color: #CDC9C8;
    font-family: interstate, sans-serif;
    font-size: 16px;
    margin-right: 80px;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket_payment {
    width: 20%;
}

.fav {
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-between;
}

.trash {
    display: flex;
    flex-direction: row;
    width: 170px;
    justify-content: space-between;
    padding-right: 2px;
    margin-top: 10px;
}

.div_space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.bottom_line {
    border-bottom: 2px solid #CDC9C8;
    height: 10p;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.gotocheckout-btn {
    background-color: #323439;
    width: 10%;
    height: 30px;
    font-size: 14px;
    font-family: interstate, sans-serif;
    font-weight: 500;
    color: white;
    transition: background-color .3s ease;
    cursor: pointer;
    position: absolute;
    bottom: 20%;
    right: 16%;
}

.gotocheckout-btn:hover {
    background-color: #CDC9C8;
}

















