@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

body {
    font-family: interstate, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket_container {
    width: 90%;
    background-color: #CDC9C8;
    height: 650px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    justify-content: center;
}

.steps {
    margin: auto;
}

.checkout_steps {
    width: 85%;
    margin: auto;
    margin-top: 1%;
    margin-left: 8%;
}

.bag_and_total {
    display: flex;
    flex-direction: row;
}

.basket {
    height: 520px;
    background-color: white;
    width: 800px;
    margin-top: 1.5%;
    margin-left: 8%;
    box-shadow: 10px 10px 8px 0px #888888;
}

.total_amount {
    height: 520px;
    background-color: white;
    margin-top: 1.5%;
    width: 400px;
    margin-left: 3%;
    box-shadow: 10px 10px 8px 0px #888888;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.basket_title {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.ordered_picture {
    width: 30%;
}

.order_info {
    width: 35%;
}

.product_name {
    font-family: interstate, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.product_info {
    font-family: interstate, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.ordered_pic {
    width: 130%;
}

.choose_amount {
    height: 40px;
    border-color: #CDC9C8;
    font-family: interstate, sans-serif;
    font-size: 16px;
}

.payment_methods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket_payment {
    width: 20%;
}






















