@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: interstate, sans-serif;
  color: #323439;
  font-size: 16px;
}

main {
    width: 90%;
    margin: auto;
}

.community {
    height: 400px;
    width:  100%;
    background-image: url(../resources/images/two_women_sitting_on_white_ben.png);
    position: relative;
    background-position: top;
    color: white;
}

.community h1 {
  text-transform: uppercase;
  font: 30px "lemonmilk";
  line-height: 1.5;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50px;
  transform: translateY(-85%);
  align-content: center;
}

.community h2 {
  position: absolute;
  width: 80%;
  font-weight: 400;
  font-size: 17px;
  top: 80%;
   align-content: center;
  justify-content: center;
  text-align: left;
  transform: translateY(-80%);
  left: 50px;
}

/* MAIN */

.article_container {
    width: 100%;
    margin-top: 30px;
}

.article_container p {
    font: 16px "interstate";
    line-height: 1.5;
    margin-top: 15px;
}

.headline {
    font: 22px "lemonmilk";
    margin-bottom: 20px;
    text-align: center;
}

.article_title {
    font: 18px "lemonmilk";
    margin-bottom: 0px;
    margin-left: 15px;
    position: relative;
}

.article_title::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 5px;
  background-color: #CDC9C8;
  top: 2px;
  left: -13px;
}


.article_img {
    display: none;
}

.article_img_mobile {
    width: 100%;
    height: 250px;
    margin: auto;
    object-fit: cover;
    object-position: top;
    margin-bottom: 15px;
    display: block;
}

.inspiration_container .continue-reading-btn, .article_container .continue-reading-btn {
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }

section .continue-reading-btn::after {
    content: "";
    width: 130px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: 0;
    left: 0;
  }

section .read-all-btn {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    text-align: right;
}

section .read-all-btn::after {
    content: "";
    justify-content: center;
    width: 61px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: 0;
    right: 0;
  }

/* NEW ARTICLES */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-text {
  width: 100%;
}


/* STORIES & INSPIRATION */

.inspiration_container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.story p {
  font: 16px "interstate";
  line-height: 1.5;
  margin-top: 15px;
}

.img2 {
  display: none;
}

.img2_mobile {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 15px;
  display: block;
}


.info {
  color: grey;
  font-size: 15px;
  margin-top 2px;
}


/* FOLLOW US ON INSTAGRAM */

.instagram {
    width: 100%;
    margin: auto;
}

.insta-flex {
    display: block;
    width: 100%;
}

.flex-container3 {
  display: flex;
  justify-content: space-between;
    margin-bottom: 20px;
}

.flex-container4 {
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #CDC9C8;
  font-size: 15px;
  line-height: 1.3;
  padding: 10%;
  margin-bottom: 40px;
}

.insta-icon {
  width: 20px;
  margin-right: 4px;
}


/* DESKTOP VERSION*/
/* DESKTOP VERSION*/
/* DESKTOP VERSION*/

@media (min-width: 990px) {

body {
  font-family: interstate, sans-serif;
  color: #323439;
  font-size: 16px;
}

main {
  max-width: 900px;
  min-width: 800px;
  width: 60%;
  margin: auto;
}

.community {
    height: 350px;
    background-image: url(../resources/images/two_women_sitting_on_white_ben.png);
    position: relative;
    background-position: top;
    color: white;
}

.community h1 {
  text-transform: uppercase;
  font: 40px "lemonmilk";
  line-height: 1.5;
  width: 50%;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translateY(-85%);
  align-content: center;
}

.community h2 {
  position: absolute;
  width: 30%;
  font-weight: 400;
  font-size: 17px;
  top: 80%;
   align-content: center;
  justify-content: center;
  text-align: left;
  transform: translateY(-80%);
    left: 20%;
}

/* MAIN */

.article_container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.headline {
    font: 22px "lemonmilk";
    margin-bottom: 20px;
    text-align: left;
}

.article_container p {
  font: 16px "interstate";
  line-height: 1.5;
}

.article_title {
  margin: 10px 0 10px 13px;
  font: 18px "lemonmilk";
  position: relative;
}

.article_title::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 5px;
  background-color: #CDC9C8;
  top: 2px;
  left: -13px;
}

.article_img {
    height: 310px;
    width: 450px;
    object-fit: cover;
    object-position: top;
    margin-right: 25px;
    display: block;
}

.article_img_mobile {
    display: none;
}

.inspiration_container .continue-reading-btn, .article_container .continue-reading-btn {
    margin-top: 20px;
    font-weight: 500;
    position: relative;
  }

section .continue-reading-btn::after {
    content: "";
    width: 130px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: -2px;
    left: 0;
    transition: background-color 0.3s ease;
  }

section .continue-reading-btn:hover::after {
    background-color: #323439;
  }

section .read-all-btn {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    text-align: right;
}

section .read-all-btn::after {
    content: "";
    justify-content: center;
    width: 61px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: -2px;
    right: 0;
    transition: background-color 0.3s ease;
  }

  section .read-all-btn:hover::after {
    background-color: #323439;
  }

/* NEW ARTICLES */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section-text {
  margin-left: 25px;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 17px;
}

/* STORIES & INSPIRATION */


.inspiration_container {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.story1 {
    margin-right: 25px;
}
.story2 {
    margin-left: 25px;
}

.img2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 15px;
display: block;
}

.img2_mobile {
 display: none;
}



.info {
color: grey;
font-size: 15px;
margin-top: 10px;
}


/* FOLLOW US ON INSTAGRAM */

.instagram {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.insta-flex {
display: flex;
justify-content: space-between;
}

.flex-container3 {
  display: flex;
}

.insta_feed {
width: 45%;
height: auto;
}


.flex-container4 {
  width: 450px;
  height: 450px;
  border-style: solid;
  border-width: thin;
  border-color: #CDC9C8;
  font-size: 15px;
  line-height: 1.5;
  padding: 10%;
}

.insta-icon {
  width: 20px;
  margin-right: 4px;
}

}

