  /* HERO */

.hero {
  position: relative;
  color: white;
}

.hero img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  transform: scaleX(-1);
}

.hero h1 {
  text-transform: uppercase;
  font-size: 70px;
  width: 700px;
  line-height: 1;
  position: absolute;
  margin-left: 5%;
  top: 65%;
  transform: translateY(-85%);
}

.hero h2 {
  position: absolute;
  width: 330px;
  font-weight: 400;
  font-size: 20px;
  top: 85%;
  left: 5%;
  transform: translateY(-80%);
}

.sets {
  font-weight: 500;
}

/* MAIN */

main {
  max-width: 900px;
  margin: auto;
}

main p {
  line-height: 1.5;
}

main h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin: 20px 0;
  font-family: "lemonmilk";
  position: relative;
}

.section-h2 {
margin: 10px 0 10px 10px;
  font: 18px "lemonmilk";
}

.section-h2::before {
  content: "";
  height: 90%;
  width: 5px;
  background-color: #CDC9C8;
  position: absolute;
  left: -10px;
  top: 0;
}


.info-grid {
  margin: 20px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 80px);
  grid-gap: 50px;
  width: 100%;
} 

section img {
  place-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-text {
  width: 100%;
}


.learn-btn {
  margin-top: 20px;
  font-weight: 500;
  position: relative;
}

.learn-btn::after {
  content: "";
  width: 85px;
  height: 2px;
  position: absolute;
  background-color: #CDC9C8;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.learn-btn:hover::after {
  background-color: #323439;
}


/* SHOP CAROUSEL */

.shop-carousel h2 {
  text-align: center;
  margin-top: 100px;
}

.go-shop {
  text-align: center;
  display: block;
  margin: 20px auto 100px;
  font-weight: 500;
  position: relative;
  width: 110px;
}

.go-shop::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #CDC9C8;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: background-color 0.3s ease;
}

.go-shop:hover::after {
  background-color: #323439;
}

.center {
  margin: auto;
}

.slick-slide {
  opacity: 0.7;
  transform: scale(0.8);
}

.center img {
  height: 80vh;
  width: 25vw;
  padding: 0 20px;
  margin: auto;
  transform: translateX(-11%);
}

.slick-center {
  opacity: 1;
  transform: scale(1) translateX(0);
  z-index: 9;
}

/* COMMUNITY */
.community-img {
  grid-column: 1/2;
  grid-row: 1/5;
  
}

.community-text {
  grid-column: 2/3;
  grid-row: 1/5;
  
}

/* ABOUT */
.about-img {
grid-column: 2/3;
grid-row: 4/8;
}

.about-text {
  grid-column: 1/2;
  grid-row: 5/8;
}

/* NEWSLETTER */

.newsletter_container {
  text-align: left;
  background-color: #54555A;
  height: 200px;
  margin-top: 50px;
  color: white;
}

  .newsletter {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.tiny_paragraph {
  max-width: 400px;
  margin: auto;
  font-size: 18px;
  font-family: "lemonmilk";
}

.newsletter_box {
  text-align: center;
  flex: 2;
}

.newsletter_box input {
  background: none;
  border: none;
 border-bottom: 1px solid white;
}

.newsletter_box input::placeholder {
  color: white;
  text-align: center;
  font-family: interstate, sans-serif;
}

.newsletter_box hr {
  height: 1px;
  width: 70%;
}

.newsletter_box button{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: opacity .3s ease;
    cursor: pointer;
}

.newsletter_box button:hover {
  opacity: 0.8;
}

.newsletter_box img {
  height: 10px;
  width: 10px;
}

@media (max-width: 1280px) {

  main, .newsletter {
    width: 75%;
  }

  .shop-carousel h2 {
    margin: 40px 0 30px;
  }

  .center img {
      width: 33vw;
      height: 50vw;
      padding: 0;
      transform: translateX(0);
  }
  

  .slick-slide {
    opacity: 1;
    transform: scale(1);
  }



  .info-grid {
    grid-template-rows: repeat(7, 100px);
  }
}

@media (max-width: 1050px) {

  .go-shop {
    margin-bottom: 60px;
  }


  .info-grid {
    grid-template-rows: repeat(4, 300px);
  }
  
.community-img {
  grid-column: 1/3;
  grid-row: 1/2;
}

.community-text {
  grid-column: 1/3;
  grid-row: 2/3;
}

.about-img {
grid-column: 1/3;
grid-row: 3/4;
}

.about-text {
  grid-column: 1/3;
  grid-row: 4/5;
}

.newsletter {
  flex-direction: column;
  text-align: center;
}

.newsletter_container {
  height: 250px;
}

.newsletter_box {
  margin-top: 30px;
}

.newsletter_box button {
  padding-bottom: 30px;
}
}

@media (max-width: 768px) {

.hero img {
  height: 50vh;
}

.hero h1 {
  width: 90%;
  font-size: 40px;
  top: 70%;
  }

.hero h2 {
  font-size: 16px;
  width: 370px;
  top: 90%;
}

main {
  width: 90%;
}

.center img {
    width: 65vw;
    height: 95vw;
}

.slick-slide {
  opacity: 1;
  transform: scale(1) translateX(0);
}

.center img {
  transform: translateX(0);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.newsletter_container {
  height: 300px;
}

}

@media (max-width: 480px) {

.info-grid {
  grid-template-rows: repeat(4, 400px);
}

  .center img {
      width: 70vw;
      height: 120vw;
  }

  .slick-slide {
    opacity: 1;
  }
}

