@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

body {
    font-family: interstate, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket_container {
    width: 90%;
    background-color: #CDC9C8;
    height: 650px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    justify-content: center;
}

.steps {
    margin: auto;
}

.checkout_steps {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-left: 10%;
}

.white_box_container {
    height: 480px;
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 10px 8px 0px #888888;
    display: flex;
    flex-direction: row;
    padding-left: 130px;
    padding-top: 100px;
}

.thankyou {
    margin-bottom: 20px;
}

.thank_you_note {
    line-height: 1.6;
}

.done_circle {
    margin-left: 150px;
}






