@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 20px;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 15px;
    height: 15px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}


.slick-prev
{
    left: -35px;
}

.slick-prev:before
{
    content: url(../icons/arrow-left.svg);
}

.slick-next
{
    right: -35px;
}

.slick-next:before
{
    content: url(../icons/arrow-right.svg);
}
